:root {
  --primery-text-color: #757575;
  --headlines-text-color: #212121;
  --acent-text-color: #ffffff;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --fooetr-bg-color: #2f303a;
  --hero-bg-color: rgba(47, 48, 58, 0.8);
  --portfolio-bg-color: rgba(33, 150, 243, 0.9);
  --logo-black-color: #000000;
  --icon-color: #afb1b8;
  --secondary-bg-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}
/* inherit */

body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
}

/* сброс */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* скрывает заголовки */
.hiden {
  display: none;
}

/* Шапка */
.logo {
  color: var(--accent-color);
}
.sub-logo {
  color: var(--logo-black-color);
}

.site-nav .link {
  color: var(--headlines-text-color);
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.address-nav .link {
  color: var(--primery-text-color);
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

/* Тело */
.title-hero {
  color: var(--acent-text-color);
  background-color: var(--hero-bg-color);
}

.button {
  color: var(--acent-text-color);
  background-color: var(--accent-color);
}

.title {
  color: var(--headlines-text-color);
}

.text {
  color: var(--primery-text-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

/* Футер */
.footer {
  background-color: var(--fooetr-bg-color);
}

.footer-logo {
  color: var(--acent-text-color);
}

.footer-text {
  color: var(--acent-text-color);
}

.footer-address {
  color: var(--footer-address-color);
}

/* Временный класс */
.temporary {
  color: var(--acent-text-color);
}

.temporary:hover,
.temporary:focus {
  color: var(--accent-color);
}
